@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We always make sure you can buy books from us with 100% anonymity.</p>
<p>Don't hesitate to contact us if you want to discuss details about our privacy policy.</p>
<p>Br,</p>
<p>Seger Book Shop</p>
