
@{
    ViewData["Title"] = "DeletionFailed";
}

<h1>Deletion Failed</h1>
<h5>Maybe there is still one or many book(s) connected to this category? </h5>
<div>
    <a asp-controller="book" asp-action="AllBooks">Take me to book list to check</a>
</div>

