
@{
    ViewData["Title"] = "BuyFailed";
}

<h1>I'm afraid the purchase couldn't be completed!</h1>
<h5>Maybe you forgot to log in?</h5>
<a asp-controller="Login" asp-action="Index">To log in page</a>
<br />
<a asp-controller="Home" asp-action="Index">Back to start page</a>

