
@{
    ViewData["Title"] = "DeletionOk";
}

<h1>Deletion done!</h1>
<h5>If this book had more than one  in stock, amount is decreased.</h5>
<h5>If no stock exist after this deletion, book has been removed.</h5>
<a asp-controller="AdminLogin" asp-action="LoginVerification">Back to Admin Menu</a>

