
@{
    ViewData["Title"] = "UserVerification";
}
<div class="container p-2">
 
        <h4>Welcome admin!</h4>  
</div>
<div>
    <a asp-controller="User" asp-action="Index">Manage Users</a>
</div>
<div>
    <a asp-controller="Book" asp-action="AllBooks">Manage Books</a>
</div>
<div>
    <a asp-controller="BookCategory" asp-action="ListAllCategories">Manage Book Categories</a>
</div>
<div>
    <a asp-controller="Revenue" asp-action="Index">Take me to revenue related content</a>
</div>
<div>
    <a asp-controller="Home" asp-action="Index">Take me to start page</a>
</div>

