
@{
    ViewData["Title"] = "Index";
}

<h1>Revenue related views</h1>
<div>
    <a asp-controller="Revenue" asp-action="SoldItems">Show all sold books</a>
</div>
<div>
    <a asp-controller="Revenue" asp-action="MoneyEarned">Show total money earned</a>
</div>
<div>
    <a asp-controller="Revenue" asp-action="BestCustomer">Show my best customer</a>
</div>
<div>
    <a asp-controller="AdminLogin" asp-action="LoginVerification">Back to Admin Menu</a>
</div>



